## 3. Clean Dataset 
### 3.1. Drop Columns

In [ ]:
# Drop Column Named "Total Qty"
data = data.drop(['Total Qty'], 1)

In [ ]:
# Drop Columns Containing "%"
data = data[data.columns.drop(list(data.filter(regex = '%')))]

### 3.2. Reshape Dataframe

In [ ]:
# Coulmn Axis: Purchase_Date, Supplier
# Row Axis: Fruit_Type_ID
# Value: Qty
df = data.melt(id_vars=['Purchase_Date', 'Supplier'], var_name = 'Fruit_Name_ID', value_name = 'Qty')

### 3.3. Data Type Conversion

In [ ]:
# Records in Column "value" turned out to be string objects rather than numbers.
# Find out that numbers formatted with thousand separator are considered as strings. 
df.dtypes

### 3.3.1. Convertion to String

In [ ]:
df['Qty'] = df['Qty'].astype(str)

### 3.3.2. Remove Thousand Separator

In [ ]:
df['Qty'] = df['Qty'].apply(lambda x: x.replace(',',''))

### 3.3.3. Conversion to Integer

In [ ]:
df['Qty'] = df['Qty'].astype(int)

### 3.4. Export Dataset for Analysis
Export annual data of 2016 and 2017 respectively.

In [ ]:
df = df.groupby(['Purchase_Date','Supplier','Fruit_Name_ID'])['Qty'].sum().reset_index()

In [ ]:
df.to_csv('G:\\Analysis.csv', index = False, encoding = 'ansi')